* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
/* Navbar*/
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.upper-header {
    background-color: grey;
    height: 100px;
}
.container-width {
    max-width: 1300px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}
.upper-header .actions {
    display: flex;
}
.upper-header .flex {
justify-content: space-between;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.sup-btn {
color: #fff;
background-color: #4183d7;
border-color: #4183d7;
border-radius: 5px;
padding: 17px 35px;
margin: 10px;
}

.con-btn {
    color: #fff;
    background-color: #999aa2;
    border-color: #999aa2;
    padding: 17px 38px;
    margin: 10px;
    
}
.searchterm {
    padding: 5px 15px;
    margin: 10px;
    height: 52px;
}
.searchbutton {
    display: inline-block;
    padding: 7px 20px 3px;
    height: 51px;
    position: relative;
    left: -25px;
    margin: 10px;
    border-radius: 0 3px 3px 0;
    border: none;
    vertical-align: bottom;
    background-color: #999aa2;
    color: #fff;
}
.burger-menu {
    height: 56px;
    background-color: #333645;
    border-color: #333645;
    color: #fff;
}
.fa.fa-bars {
}
/*Nav lower*/
.lower-header {
    background-color: #333645;
}

/*Banner image*/

.banner-image {
    position: relative;
    text-align: center;
    color: white;

  }
  .centered {
    position: absolute;
    top: 50%;
    right: 45%;
    transform: translate(-50%, -50%);
  }
/*Main services*/ 
.main-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-services .box {
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.main-services .box-2 {
    position: relative;
    width: 250px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.main-services .box:before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
    pointer-events: none;
}

.main-services .box-2:before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
    pointer-events: none;
}

.main-services .box .icon {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700px;
    transition: 1s;
}

.main-services .box-2 .icon {
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700px;
    transition: 1s;
}
.main-services .box:nth-child(1) .icon {
    box-shadow: 0 0 0 0 #67809f;
    background: #67809f;
}

.main-services .box:nth-child(1):hover .icon {
    box-shadow: 0 0 0 400px #67809f;
}

.bespoke-btn {
color: #fff;
background-color: #67809f;
border-color: #67809f;
height: auto;
line-height: 35px;
padding: 5px 15px;
text-transform: uppercase;
font-size: 1.063rem;
border-radius: 3px;
white-space: normal;
}

.main-services .box:nth-child(2) .icon {
    box-shadow: 0 0 0 0 #4183d7;
    background: #4183d7;
}
.main-services .box:nth-child(2):hover .icon {
    box-shadow: 0 0 0 400px #4183d7;
}

.it-btn {
color: #fff;
background-color: #67809f;
border-color: #67809f;
height: auto;
line-height: 35px;
padding: 5px 15px;
text-transform: uppercase;
font-size: 1.063rem;
border-radius: 3px;
white-space: normal;
}

.main-services .box:nth-child(3) .icon {
    box-shadow: 0 0 0 0 #2ecc71;
    background: #2ecc71;
}
.main-services .box:nth-child(3):hover .icon {
    box-shadow: 0 0 0 400px #2ecc71;
}

.digital-btn{
color: #fff;
background-color: #2ecc71;
border-color: #2ecc71;
height: auto;
line-height: 35px;
padding: 5px 15px;
text-transform: uppercase;
font-size: 1.063rem;
border-radius: 3px;
white-space: normal;
}

.main-services .box-2:nth-child(4) .icon {
    box-shadow: 0 0 0 0 #d64541;
    background: #d64541;
}
.main-services .box-2:nth-child(4):hover .icon {
    box-shadow: 0 0 0 400px #d64541;
}

.telecoms-btn{
color: #fff;
background-color: #d64541;
border-color: #d64541;
height: auto;
line-height: 35px;
padding: 5px 15px;
text-transform: uppercase;
font-size: 1.063rem;
border-radius: 3px;
white-space: normal;
}
.main-services .box-2:nth-child(5) .icon {
    box-shadow: 0 0 0 0 #926fb1;
    background: #926fb1;
}
.main-services .box-2:nth-child(5):hover .icon {
    box-shadow: 0 0 0 400px #926fb1;
}

.web-btn{
color: #fff;
background-color: #926fb1;
border-color: #926fb1;
height: auto;
line-height: 35px;
padding: 5px 15px;
text-transform: uppercase;
font-size: 1.063rem;
border-radius: 3px;
white-space: normal;
}

.main-services .box-2:nth-child(6) .icon {
    box-shadow: 0 0 0 0 #f62459;
    background: #f62459;
}
.main-services .box-2:nth-child(6):hover .icon {
    box-shadow: 0 0 0 400px #f62459;
}

.cyber-btn{
color: #fff;
background-color: #f62459;
border-color: #f62459;
height: auto;
line-height: 35px;
padding: 5px 15px;
text-transform: uppercase;
font-size: 1.063rem;
border-radius: 3px;
white-space: normal;
}

.main-services .box-2:nth-child(7) .icon {
    box-shadow: 0 0 0 0 #926fb1;
    background: #926fb1;
}
.main-services .box-2:nth-child(7):hover .icon {
    box-shadow: 0 0 0 400px #926fb1;
}

.developer-btn{
color: #fff;
background-color: #f62459;
border-color: #f62459;
height: auto;
line-height: 35px;
padding: 5px 15px;
text-transform: uppercase;
font-size: 1.063rem;
border-radius: 3px;
white-space: normal;
}
.main-services .box .content {
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.main-services .box-2 .content {
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.main-services .box:hover .content {
    color: #fff;
}
.main-services .box-2:hover .content {
    color: #fff;
}

.main-services .box:hover .content h3 {
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}

.main-services .box-2:hover .content h3 {
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}

.main-services .box:hover .content p {
    margin: 0;
    padding: 0;
}

.main-services .box-2:hover .content p {
    margin: 0;
    padding: 0;
}

/*Culture section*/
.background-brand {
    background-color:#333645;
    background-repeat: no-repeat;
}

.culture {
    color: #fff;
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.culture h1 {
    text-transform: uppercase;

}
