* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Navbar*/
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.upper-header {
  background-color: grey;
  height: 100px;
}

.container-width {
  max-width: 1300px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.upper-header .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upper-header .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.sup-btn {
  color: #fff;
  background-color: #4183d7;
  border-color: #4183d7;
  border-radius: 5px;
  padding: 17px 35px;
  margin: 10px;
}

.con-btn {
  color: #fff;
  background-color: #999aa2;
  border-color: #999aa2;
  padding: 17px 38px;
  margin: 10px;
}

.searchterm {
  padding: 5px 15px;
  margin: 10px;
  height: 52px;
}

.searchbutton {
  display: inline-block;
  padding: 7px 20px 3px;
  height: 51px;
  position: relative;
  left: -25px;
  margin: 10px;
  border-radius: 0 3px 3px 0;
  border: none;
  vertical-align: bottom;
  background-color: #999aa2;
  color: #fff;
}

.burger-menu {
  height: 56px;
  background-color: #333645;
  border-color: #333645;
  color: #fff;
}

/*Nav lower*/
.lower-header {
  background-color: #333645;
}

/*Banner image*/
.banner-image {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  right: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*Main services*/
.main-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-services .box {
  position: relative;
  width: 350px;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.main-services .box:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
  pointer-events: none;
}

.main-services .box .icon {
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700px;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-services .box:nth-child(1) .icon {
  -webkit-box-shadow: 0 0 0 0 #e91e63;
          box-shadow: 0 0 0 0 #e91e63;
  background: #e91e63;
}

.main-services .box:nth-child(1):hover .icon {
  -webkit-box-shadow: 0 0 0 400px #e91e63;
          box-shadow: 0 0 0 400px #e91e63;
}

.main-services .box:nth-child(2) .icon {
  -webkit-box-shadow: 0 0 0 0 #23e629;
          box-shadow: 0 0 0 0 #23e629;
  background: #23e629;
}

.main-services .box:nth-child(2):hover .icon {
  -webkit-box-shadow: 0 0 0 400px #23e629;
          box-shadow: 0 0 0 400px #23e629;
}

.main-services .box:nth-child(3) .icon {
  -webkit-box-shadow: 0 0 0 0 #2196f3;
          box-shadow: 0 0 0 0 #2196f3;
  background: #2196f3;
}

.main-services .box:nth-child(3):hover .icon {
  -webkit-box-shadow: 0 0 0 400px #2196f3;
          box-shadow: 0 0 0 400px #2196f3;
}

.main-services .box .content {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-services .box:hover .content {
  color: #fff;
}

.main-services .box:hover .content h3 {
  font-size: 20px;
  margin: 10px 0;
  padding: 0;
}

.main-services .box:hover .content p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin-top: 20px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=styles.css.map */