* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Poppins,sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
  color: #666;
}

/* Navbar*/
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container-width {
  max-width: 1300px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.upper-header {
  background-color: #fff;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  margin-right: 5rem;
}

.interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interface a {
  color: #fff;
}

.support-btn {
  display: inline-block;
  color: #fff;
  background-color: #4183d7;
  border-color: #4183d7;
  border-radius: 3px;
  padding: 5px 15px;
  margin-right: 1rem;
}

.sup-btn {
  color: #fff;
  line-height: 40px;
  font-size: 1.150rem;
}

.support-btn:hover {
  background-color: #2a6ec6;
  cursor: pointer;
}

.fas {
  font-size: 1.438rem;
  line-height: 45px;
}

.contact-btn {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #999aa2;
  border-color: #999aa2;
  border-radius: 3px;
  padding: 5px 15px;
  margin-right: 1rem;
}

.contact-btn i {
  font-size: 1.438rem;
}

.con-btn {
  color: #fff;
  line-height: 40px;
  font-size: 1.150rem;
}

.contact-btn:hover {
  background-color: #84858f;
  cursor: pointer;
}

form.example input[type=text] {
  padding: 13px;
  font-size: 20px;
  border: 1px solid grey;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: right;
  width: 20%;
  padding: 13px;
  background-color: #999aa2;
  color: white;
  font-size: 20px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.btn {
  color: #fff;
  background-color: #333645;
  border: none;
  padding: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
}

/*Nav lower*/
.lower-header {
  background-color: #333645;
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 0;
  margin: 0;
}

.menu li {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.menu li a {
  position: relative;
  display: block;
  padding: 20px;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.menu li a small {
  display: block;
  font-size: .625rem;
  padding-bottom: 1px;
}

.menu li a span {
  display: block;
  font-size: 1.438rem;
  padding-bottom: 10px;
}

.web i {
  color: #926fb1;
}

.it i {
  color: #4183d7;
}

.telecoms .iconify {
  color: #d64541;
  font-size: 2rem;
}

.bespoke i {
  color: #67809f;
}

.digital i {
  color: #2ecc71;
}

.cyber i {
  color: #f62459;
}

/*Banner image*/
.banner-image {
  position: relative;
  color: white;
}

.banner {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.centered {
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.centered h1 {
  font-size: 3rem;
  margin: 0 0 25px;
}

.centered p {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin: 0 0 35px;
}

.centered button {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
  line-height: 50px;
  padding: 5px 20px;
  font-size: 1.25rem;
  border-radius: 3px;
  cursor: pointer;
}

/*Main services*/
.main-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-services button {
  cursor: pointer;
}

.main-services .box {
  position: relative;
  width: 350px;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.main-services .box-2 {
  position: relative;
  width: 265px;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  max-height: 310px;
}

.main-services .box:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
  pointer-events: none;
}

.main-services .box-2:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
  pointer-events: none;
}

.main-services .box .icon {
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 700px;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-services .box-2 .icon {
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 700px;
  -webkit-transition: 1s;
  transition: 1s;
}

.main-services .box p {
  font-size: .8125rem;
  margin-bottom: 13px;
  font-weight: 400;
  line-height: 1.375rem;
}

.main-services .box-2 p {
  font-size: .8125rem;
  margin-bottom: 13px;
  font-weight: 400;
  line-height: 1.375rem;
}

.main-services .box:nth-child(1) .icon {
  -webkit-box-shadow: 0 0 0 0 #67809f;
          box-shadow: 0 0 0 0 #67809f;
  background: #67809f;
}

.main-services .box:nth-child(1):hover .icon {
  -webkit-box-shadow: 0 0 0 400px #67809f;
          box-shadow: 0 0 0 400px #67809f;
}

.bespoke-btn {
  color: #fff;
  background-color: #67809f;
  border-color: #67809f;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  margin: -10px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.main-services .box:nth-child(2) .icon {
  -webkit-box-shadow: 0 0 0 0 #4183d7;
          box-shadow: 0 0 0 0 #4183d7;
  background: #4183d7;
}

.main-services .box:nth-child(2):hover .icon {
  -webkit-box-shadow: 0 0 0 400px #4183d7;
          box-shadow: 0 0 0 400px #4183d7;
}

.it-btn {
  color: #fff;
  background-color: #67809f;
  border-color: #67809f;
  line-height: 35px;
  padding: 5px 15px;
  margin: 7px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.main-services .box:nth-child(3) .icon {
  -webkit-box-shadow: 0 0 0 0 #2ecc71;
          box-shadow: 0 0 0 0 #2ecc71;
  background: #2ecc71;
}

.main-services .box:nth-child(3):hover .icon {
  -webkit-box-shadow: 0 0 0 400px #2ecc71;
          box-shadow: 0 0 0 400px #2ecc71;
}

.digital-btn {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  margin: -10px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.main-services .box-2:nth-child(4) .icon {
  -webkit-box-shadow: 0 0 0 0 #d64541;
          box-shadow: 0 0 0 0 #d64541;
  background: #d64541;
}

.main-services .box-2:nth-child(4):hover .icon {
  -webkit-box-shadow: 0 0 0 400px #d64541;
          box-shadow: 0 0 0 400px #d64541;
}

.telecoms-btn {
  color: #fff;
  background-color: #d64541;
  border-color: #d64541;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.main-services .box-2:nth-child(5) .icon {
  -webkit-box-shadow: 0 0 0 0 #926fb1;
          box-shadow: 0 0 0 0 #926fb1;
  background: #926fb1;
}

.main-services .box-2:nth-child(5):hover .icon {
  -webkit-box-shadow: 0 0 0 400px #926fb1;
          box-shadow: 0 0 0 400px #926fb1;
}

.web-btn {
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.main-services .box-2:nth-child(6) .icon {
  -webkit-box-shadow: 0 0 0 0 #f62459;
          box-shadow: 0 0 0 0 #f62459;
  background: #f62459;
}

.main-services .box-2:nth-child(6):hover .icon {
  -webkit-box-shadow: 0 0 0 400px #f62459;
          box-shadow: 0 0 0 400px #f62459;
}

.cyber-btn {
  color: #fff;
  background-color: #f62459;
  border-color: #f62459;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.main-services .box-2:nth-child(7) .icon {
  -webkit-box-shadow: 0 0 0 0 #926fb1;
          box-shadow: 0 0 0 0 #926fb1;
  background: #926fb1;
}

.main-services .box-2:nth-child(7):hover .icon {
  -webkit-box-shadow: 0 0 0 400px #926fb1;
          box-shadow: 0 0 0 400px #926fb1;
}

.developer-btn {
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.main-services .box .content {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-services .box-2 .content {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block-software {
  text-decoration: none;
  color: #666;
}

.main-services .box:hover .content {
  color: #fff;
}

.main-services .box-2:hover .content {
  color: #fff;
}

.main-services .box .content h2 {
  font-size: 1.125rem;
  position: relative;
}

.main-services .box-2 .content h2 {
  font-size: 1.125rem;
  position: relative;
}

.main-services .box:hover .content h2 {
  position: relative;
}

.main-services .box-2:hover .content h2 {
  position: relative;
}

.main-services .box .content p {
  margin: 10px;
}

.main-services .box:hover .content p {
  margin: 10px;
}

.main-services .box-2:hover .content p {
  margin: 10;
}

.main-services .box:hover {
  cursor: pointer;
}

.main-services .box-2:hover {
  cursor: pointer;
}

/*Culture section*/
.netmatters-info {
  background-color: #333645;
}

.background-brand {
  background-color: #333645;
  color: #fff;
  text-align: left;
  position: relative;
}

.about-us {
  position: absolute;
  top: 50px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us h1 {
  letter-spacing: .4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  line-height: 1.1;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0 0 25px;
  text-transform: uppercase;
  color: #fff;
  margin-top: -6px;
}

.about-us p {
  letter-spacing: .4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5rem;
  margin-bottom: 25px;
}

.about-us a {
  color: #000;
  font-size: 1.063rem;
}

.about-us button {
  width: 150px;
  height: 39px;
  text-transform: uppercase;
}

/*Latest Bar*/
.latest-bar {
  padding: 50px;
  background-color: #fff;
}

/*article section*/
.article-1 {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-1 {
  background: white;
  height: 583.86px;
  width: 350px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.image-1 img {
  height: 45%;
  width: 100%;
  background-size: 400px 300px;
  position: relative;
  text-align: center;
  color: #fff;
}

.title {
  padding: 20px;
}

.title a {
  color: #2ecc71;
  font-weight: 600px;
  text-decoration: underline;
}

.article {
  padding-left: 21px;
}

.article p {
  font-family: Poppins,sans-serif;
  letter-spacing: .4px;
  color: #666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 10px;
  margin-bottom: 25px;
  min-height: 66px;
  line-height: 1.375rem;
  font-size: .8125rem;
}

.article-btn {
  padding: 30px 23px;
}

.article-btn a {
  font-weight: 600px;
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
  height: auto;
  line-height: 35px;
  padding: 15px 7px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

hr {
  display: block;
  unicode-bidi: -webkit-isolate;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.avatar img {
  width: 15%;
  margin: 22px;
  float: left;
}

.info {
  padding: 28px;
  line-height: 1.375rem;
}

/*second article*/
.card-2 {
  background: white;
  height: 583.86px;
  width: 350px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.image-2 img {
  height: 45%;
  width: 100%;
  background-size: 400px 300px;
  position: relative;
  text-align: center;
  color: #fff;
}

.title-2 {
  padding: 20px;
}

.title-2 a {
  color: #4183d7;
  font-weight: 600px;
  text-decoration: underline;
}

.article-2 {
  padding-left: 21px;
}

.article-2 p {
  font-family: Poppins,sans-serif;
  letter-spacing: .4px;
  color: #666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 10px;
  margin-bottom: 25px;
  min-height: 66px;
  line-height: 1.375rem;
  font-size: .8125rem;
}

.article-btn-2 {
  padding: 30px 23px;
}

.article-btn-2 a {
  font-weight: 600px;
  color: #fff;
  background-color: #4183d7;
  border-color: #4183d7;
  height: auto;
  line-height: 35px;
  padding: 15px 7px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

hr {
  display: block;
  unicode-bidi: -webkit-isolate;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.avatar-2 img {
  width: 15%;
  margin: 22px;
  float: left;
}

.info-2 {
  padding: 28px;
  line-height: 1.375rem;
}

/* third article*/
.card-3 {
  background: white;
  height: 583.86px;
  width: 350px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.image-3 img {
  height: 45%;
  width: 100%;
  background-size: 400px 300px;
  position: relative;
  text-align: center;
  color: #fff;
}

.title-3 {
  padding: 20px;
}

.title-3 a {
  color: #926fb1;
  font-weight: 600px;
  text-decoration: underline;
}

.article-3 {
  padding-left: 21px;
}

.article-3 p {
  font-family: Poppins,sans-serif;
  letter-spacing: .4px;
  color: #666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 10px;
  margin-bottom: 25px;
  min-height: 66px;
  line-height: 1.375rem;
  font-size: .8125rem;
}

.article-btn-3 {
  padding: 30px 23px;
}

.article-btn-3 a {
  font-weight: 600px;
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  height: auto;
  line-height: 35px;
  padding: 15px 7px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

hr {
  display: block;
  unicode-bidi: -webkit-isolate;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}

.avatar-3 img {
  width: 15%;
  margin: 22px;
  float: left;
}

.info-3 {
  padding: 28px;
  line-height: 1.375rem;
}

/*Clients */
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

/*Sign Up Newsletter*/
.sign-up {
  background-color: #ddd;
  height: 381px;
  padding: 50px 30px;
}

.container h2 {
  font-weight: 400;
  font-size: 2rem;
  margin: 0 0 15px;
  color: #333645;
  letter-spacing: .4px;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  padding: 0 10px;
  margin: 10px;
}

.form-control {
  display: block;
  width: 100%;
  height: 47px;
  padding: 5px 15px;
  border-color: #ccc;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

h3 {
  min-height: 45px;
}

.details-input label {
  font-weight: 600;
  font-size: 1.1rem;
  color: #333645;
}

.tick-box {
  margin-bottom: 15px;
  line-height: 32px;
  cursor: pointer;
  padding: 20px;
}

.check-box {
  border-radius: 3px;
  border: 3px solid #333645;
  height: 28px;
  width: 28px;
  position: relative;
  float: left;
  margin-right: 20px;
}

.media-body {
  font-family: Poppins,sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
}

.media-body a {
  text-decoration: underline;
  color: #333645;
}

.subscribe-btn input {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  color: #fff;
  background-color: #333645;
  border-color: #333645;
}

/*footer*/
.footer {
  background-color: #333645;
  color: #fff;
  padding: 40px;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-info a {
  color: #fff;
}

.footer-info a:hover {
  text-decoration: underline;
}

.l-column h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
  width: 200px;
}

.mid-column h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
}

.r-column h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
}

.fright-column {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
}

.social-media a {
  margin-top: 30px;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 1.75rem;
  line-height: 3.438rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.facebook a:hover {
  background-color: #3b5998;
  text-decoration: none;
}

.twitter a:hover {
  background-color: #3b5998;
  text-decoration: none;
}

.linkedin a:hover {
  background-color: #3b5998;
  text-decoration: none;
}

.list-first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.list-first-row .item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  vertical-align: middle;
  padding: 0 20px;
  position: relative;
}

.list-second-row {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.list-second-row .item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  vertical-align: middle;
  padding: 0 20px;
  position: relative;
}
/*# sourceMappingURL=styles.css.map */